assg/client/Service References/myservice/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/assg" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/assg" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Remarks">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Remarks" nillable="true" type="tns:Remarks" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="ArrayOfRemarks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Remarks" nillable="true" type="tns:Remarks" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRemarks" nillable="true" type="tns:ArrayOfRemarks" />
</xs:schema>